ul, li {
    display: flex;
    width: 200%;
    height: 100vh;
    padding: 0.5rem;
    background-color: blanchedalmond;
    justify-content: start;
    list-style: none;
    align-items: center;
    
  }

  ul{
    margin-top: 0;
    list-style: none;
    
  }

  ul a{
    text-decoration: none;
    color: black;
    text-size-adjust: 5px;
  }

  li{
    background-color: rgb(100, 215, 196);
    font-size: sans-serif;
    color: black;
    width: 25vw;
    height: 45vh;
    padding: 1rem;
    margin: 10px;
    text-align: center;
    flex-flow:row ;
    text-align: justify;
    
  }